.menu-toggle {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    display: inline-block;
    position: relative;
}

.toggle-bar {
    height: 2px;
    width: 26px;
    display: block;
    background: $dark-green;
    left: 7px;
    top: calc(50% - 1px);
    position: absolute;
}