.prop {
    display: block;
    padding: 5px;
    border-bottom: 1px solid $light-gray;

    .prop-name {
        display: inline-block;
        background: $light-gray;
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}