.shortcut {
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    .el-card__body {
        padding: 0;

        a {
            padding: 40px 20px;
            display: block;
        }
    }
}