/* Masthead styles */
.masthead-wrapper {
    margin: 0;
    border: none;
    z-index: 999;
}

#masthead {
    background-color: $white;
    height: auto;
    overflow: hidden;
    margin: 0;

    .logo {
        position: relative;
        padding: 12px 0 12px;
        margin: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);

        a {
            display: block;
        }

        img {
            display: block;
            height: 40px;
            max-width: 100%;
            min-height: 27px;
            max-height: 40px;
            width: auto;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    @media (min-width: 992px) {
        .logo a {
            text-align: left;
        }
    }
}

.masthead-container {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    max-width: 1140px;
}

/* Masthead links */
.masthead-links {
    float: none;
    display: block;
    text-align: center;
    background-color: $pearl;
    border-bottom: 1px solid #EBEBEB;
    line-height: 40px;
    margin: 0;
    padding: 0;

    li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        margin-right: 5px;
        color: $black;

        &:last-child {
            margin-right: 0;
        }

        &:not(:last-child):after {
            content: "|";
            color: $med-grey;
            margin-left: 8px;
            font-size: 15px;
        }

        a {
            color: $med-gray;
        }
    }
}

@media (min-width: 992px) {
    #masthead {
        height: 64px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);

        .logo {
            padding: 0;
            box-shadow: none;
            margin: 12px 0 0;
            text-align: initial;
        }
    }

    .masthead-container {
        margin: 0 auto;
    }

    .masthead-links {
        float: right;
        list-style: none;
        position: absolute;
        right: 15px;
        bottom: 0;
        background: none;
        border: none;
        line-height: 34px;
    }
}

@media (max-width: 992px) {
    .masthead-container {
        width: auto;
    }
}
