/* Masthead styles */
.masthead-wrapper {
  margin: 0;
  border: none;
  z-index: 999;
}

#masthead {
  background-color: $white;
  height: auto;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);

  .logo {
    position: relative;
    padding: 12px 0 12px;
    margin: 0;

    a {
      display: block;
    }

    img {
      display: block;
      height: 40px;
      max-width: 100%;
      min-height: 27px;
      max-height: 40px;
      width: auto;
      margin: 0 auto;
      padding: 0 20px;
    }

    &.no-shadow {
      box-shadow: none;
    }
  }

  @media (min-width: 1200px) {
    .logo a {
      text-align: left;
    }
  }
}

.masthead-container {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

/* Masthead links */
.masthead-links {
  text-align: center;
  margin: 0;
  padding: 0 0 15px;

  li {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    color: $med-gray;

    &:last-child {
      margin-right: 0;
    }
    a {
      &:after {
        font-size: 11px;
      }

      color: $med-gray;

      &:hover {
        color: $med-gray;
      }
    }
    @media (min-width: 479px){
      a:after{
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #masthead {
    height: 64px;

    .logo {
      padding: 0;
      box-shadow: none;
      margin: 12px 0 0;
      text-align: initial;
    }
  }

  .masthead-container {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .masthead-container {
    width: auto;
  }
}

@media (max-width: 479px) {
    .masthead-links {
        li {
            font-size: 11px;
            a {
                font-size: 11px;
            }
        }
    }
}
.masthead-links li{
  justify-content:center;
  padding:0px 4px;
  max-width:40%;
  display:block;
  margin:0;
  line-height:41.5px;
  margin-left:3px;
  margin-right:3px;
}

#masthead{
  display:flex;
  justify-content:flex-start;
  flex-direction:row;
  align-items:center;
  width:100%;
}

.masthead > ul{
  margin-left:0;
}
.masthead-container{
  display:flex;
  width:260px;
  margin:0;
  align-items:center;
}
.masthead-links{
  display:flex;
  justify-content:flex-start;
  width:400px;
  margin:0;
  flex-direction:row;
  align-items:center;
  margin-left:7px;
  padding:0px;
}

.vertical-bar{
  font-size:15px !important;
  padding: 0px !important
}

@media (max-width: 1200px) {
  #masthead{
    display:flex;
    flex-direction:column;
  }
  .masthead-links{
    display:flex !important;
    justify-content:center !important;
    margin:0;
  }
}