.affinity-paywall-stop-offer {
  @media screen and (min-width: 991px) {
    .card {
      &.big-shadow {
        padding-top: 0;

        .content-affinity-img {
          margin-left: -15px;
          margin-right: -15px;

          .p-l-15 {
            padding-left: 0;
          }

          .p-r-15 {
            padding-right: 0;
          }
        }

        .primary-sub {
          padding-top: 30px;
        }
      }
    }
  }
}











.swg-card{
  margin-top:8px;
  margin-left:8px;
}
.page-head{
  display:flex;
  text-align:center;
  flex-direction:column;
  max-width:1040px;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.page-title{
  font-size:32px;
  color:#242424;
  font-weight:bold;
  font-family:'Noto Sans';
  text-align:center;
  margin:auto;
  margin-top:20px;
  margin-bottom:5px;
}

.upsell-text{
  display:block;
  color:#222222;
  font-size:20px;
  font-weight:bold;
  font-family:'Noto Sans';
  margin:auto;
  text-align:center;
  text-align:center;
  color:#31409F;
}

div>.offer-button{
  justify-content:center;
  justify-content:center;
  display:flex;
  justify-content:center;
}
.offer-button{
  border-radius:4px;
  font-size:15px;
  text-transform:uppercase;
  margin:auto;
  width:155px;
  height:40px;
  line-height: 40px;
  background-color:#31409F;
  color:white;
}
.offer-button:hover{
  color:white;
  text-decoration:none;
}

.offer-subtext2{
  margin:auto;
  color:#222222;
  font-size:15px;
  font-family:'Noto Sans';
  margin-bottom:14px;
  text-align:center;
  margin-top:-3px;
  font-weight:500;
}

.offer-subtext1{
  margin:0 auto;
  color:#31409F;
  font-family:'Noto Sans';
  font-weight:bold;
  font-size:26px;
}
.offer-title{
  margin-bottom:15px;
  color:#222222;
  font-family:'Noto Sans';
  font-size:18px;
  font-weight:500;
  text-align: center;
  line-height:20px;
}
.cards-container{
  max-width:1920px;
  justify-content:space-evenly; 
}

.card-paywall {
  margin:13px;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.2), 0 1px 5px 0 rgba(34, 34, 34, 0.13);
  background: #fff; 
  display:flex;
  height:207px;
  max-width:588px;
  display:flex;
}

.offer-paywall-description{
  font-size:15px;
  font-weight:400;
  color:#222222;
  text-align:center;
  font-family:"Noto Sans";
  width:90%;
  margin:auto;
  margin-bottom:45px;
  padding:0;
}
h1{
  text-align:center;
  font-family:"Noto Sans"
}

.start-now-link{
  width:196.22px;
  height:40px;
  background-color:#31409F;
  color:white;
  text-transform: uppercase;
  font-size:1rem;
  vertical-align:middle;
  display:inline-block;
  line-height:40px;
}
.start-now-button{
  margin:auto;
}

.start-now-link:hover{
  text-decoration:none;
  color:white;
  font-size:1rem;
}

.topper{
  color:#31409F;
  font-weight:bold;
  text-align:center;
  margin:0;
  margin-top:-50px;
  margin-bottom:30px;
  font-style:'Noto Sans'
}
.topper > p{
  font-size:20px;
  font-family:'Noto Sans'
}
.card-ncinsider {
  height: 170px;
  margin-top:-20px;
}
.offer-subtext1-ncinsider {
  margin-bottom: 18px;
}
@media screen and (max-width: 1130px) {
  .offer-subtext2-3cards{
    margin-bottom:14px !important;
  }
  .upsell-text-3cards{
    margin-top:0 !important;
  }
  .card-ncinsider{
    margin-top:20px;
  }
  .card-elnuevo > .offer-subtext1 {
    font-size: 23px;
  }
  .card-elnuevo > .offer-subtext2 {
    font-size: 14px;
  }
  .upsell-text{
    width:35%;
    font-size:16px;
    margin-top:0;
    width:80%;
  }
  .topper{
    margin-bottom:26px;
    margin-top:-40px;
  }
  .topper > p{
    font-size:16px;
  }
  .agreement{
    margin-left:-15px;
    font-size:14px;
    width:110%;
    text-align:center;
  }

  .card-paywall {
    width: 358px;
    height: 207px;
    margin: 20px auto;
    flex:none;
  }
  .title-img {
    margin: 0 auto; 
    margin-bottom:15px;
  }
  .title-text {
    margin-top:5px;
    margin-bottom: 20px; 
    display:inline-block;
  }
  .row {
    flex-direction: column; }
  .offer-paywall-description {
    margin-bottom: 10px; 
    max-width:360px;
  } 
  .long-card{
    height:269px;
    margin-bottom:50px;
  }
}


@media screen and (max-width:768px){
  #masthead-nav-head-contact-link, #masthead-nav-head-phone-number-link{
    font-size:12px;
  }
  .vertical-bar{
    margin:0 !important;
    font-size:12px !important;
  }
  .offer-paywall-description{
    font-size:16px;
  }
  .masthead-container{
    height:45px;
    margin-top:10px;
  }
  .img-responsive{
    height:45;
    width:300;
  }
}

@media screen and (max-width: 300px){
  .card-elnuevo > .offer-subtext1{
    font-size:17px;
  }
  .card-elnuevo > .offer-subtext2 {
    font-size: 12px;
  }
  .card-paywall{
    height:205px;
    width:280px;
  }
  .long-card{
    height:266px;
  }

}

.hidden{
  display:none !important;
}



h1.logo{
  width:260px;
  margin:0 !important;
}

#signin-btn-container{
  display:flex;
  margin-left:auto;
  margin-right:10px;
}
#signin-btn-container > li {
  list-style-type: none;
}

@media (max-width: 1200px) {  
  #signin-btn-container{
    display:flex;
    justify-content:center;
    margin:auto;
    margin-bottom:10px;
  }
}

#signin-btn-text{
  color:#31409F;
  font-family:'Noto Sans';
}
.agreement{
  font-family:'Noto Sans';
  display:block;
  text-align:center;
  font-size:15px;
  margin-top:45px;
  font-weight:500;
}
.subscriber-agreement{
  font-weight:normal;
  text-decoration:underline;
}
.privacy-policy{
  font-weight:normal;
  text-decoration:underline;
}
.title-text{
  margin-right:5px;
}
.title-img{
  margin-left:5px;
  position:relative;
  top:-17px;
}
.card-content{
  margin-top:-21px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#masthead > * {
  font-family:'Noto Sans';
  font-size:14px;
}
#account-signin-btn, #masthead-nav-head-contact-link, #masthead-nav-head-phone-number-link {
  font-weight: bold;
}
.masthead-links > li{
  margin-left:0;
  margin-right:0;
}
.title-text-long-card{
  display:inline-block;
  position:relative;
  top:-17px;
}

.plus-sign{
  position:relative;
  top:-17px;
  margin-left:10px;
}

.long-card > .offer-title{
  height:28px;
}

@media screen and (max-width: 1130px) {
  .long-card > .offer-title {
    height:89px;
  }
  .title-text-long-card{
    position:static;
  }
  .plus-sign{
    position:static;
  }
  .agreement{
    margin-top:32px;
  }
}

