.affinity-paywall-stop-offer {
  @media screen and (min-width: 991px) {
    .card {
      &.big-shadow {
        padding-top: 0;

        .content-affinity-img {
          margin-left: -15px;
          margin-right: -15px;

          .p-l-15 {
            padding-left: 0;
          }

          .p-r-15 {
            padding-right: 0;
          }
        }

        .primary-sub {
          padding-top: 30px;
        }
      }
    }
  }
}