.redeem-form {
  fieldset {
    display: block;
    width: calc(100% - 122px);
    float: left;
  }
  button {
    padding: 5px 14px;
  }
}

.redeem-extra {
  .sub-heading {
    font-size: $fz-heading-page;
  }

  .loading-button {
    .loading-container {
      display: block;
      opacity: 1;
    }
  }
}

.subscribe-offer {
  .container {
    @media(min-width: 576px) {
      max-width: 480px;
    }
    @media(min-width: 768px) {
      max-width: 480px;
    }
    @media(min-width: 992px) {
      max-width: 960px;
    }
    @media(min-width: 1200px) {
      max-width: 1140px;
    }
  }
  p:not(.summary) {
    margin-bottom: 15px;
  }
  .col-md-6 {
    &:last-child {
      .card {
        &.secondary {
          margin-bottom: 0;
        }
      }
    }
  }
  .mpp-subscription {
    &.card.primary {
      padding: 25px 15px;
    }
    & a.button {
      border-color: transparent;
    }
    & .primary-headline {
      font-size: 40px;
      line-height: 1.2;
    }
    @media(min-width: 768px) {
      &.card.primary {
        padding: 50px 30px;
      }
      .primary-headline {
        font-size: 52px;
      }
    }
    &.primary::before,
    &.secondary::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &.primary,
    &.secondary {
      position: relative;
      z-index: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      & p.enhanced {
        font-weight: 600;
      }
    }
    &.primary {
      &:before {
        background: linear-gradient(to right, rgba($dark-gray, .98) 30%, rgba($dark-gray, 0.7));
      }
      a.button {
        background-color: $light-shasta;
        padding: 10px 30px !important;
      }
      //make first subheading look like h4.
      .primary-headline + p{
        font-size: 19px;
        line-height: 1.2;
        &+p{
          font-size: 14px;
        }
      }
      p.offer-description,
      ul{
        max-width: 500px;
      }
    }
    &.secondary {
      &:before {
        background: linear-gradient(to right, rgba($white, .95) 30%, rgba($white, 0.55));
      }
      .primary-headline {
        font-size: 28px;
        font-weight: normal;
      }
      p.offer-description,
      ul{
        max-width: 375px;
      }
    }
  }
  a.button {
    .stg-design & {
      padding: 6px 15px;
    }
  }
  .more-subscriptions {
    .combo-subscription {
      .sub-heading-card {
        margin-top: 30px;
        font-size: 19px;
      }
      .offer-description {
        margin-bottom: 20px;
      }
    }
  }

  .more-toggle {
    font-weight: 700;
    white-space: nowrap;
  }
  .more-toggle-down > i{
    vertical-align: top;
  }


  @media screen and (min-width: 992px) {
    .card {
      &.secondary {
        margin-bottom: 0;
      }
    }
    .more-subscriptions {
      display: flex;

      > [class*='col-'] {
        display: inherit;

        .card {
          flex-grow: 1;
          margin-bottom: 50px;
        }
        .combo-subscription {
          .more-link {
            &.blue {
              color: $med-gray;
            }
          }
        }
      }
    }
  }
}
