button, a.button {
  display: inline-block;
  font: 600 14px $ff-sans;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: .6em 1em .6em;
  padding-bottom: 5px;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: flex-start;
  background-color: inherit;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &.disabled,
  &:disabled,
  &.inactive {
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
  }

  &.impact {
    background-color: $dark-gray;
    color: $white;
  }

  &.promo {
    background-color: $med-shasta;
    color: $white;
  }

  &.ghost {
    color: $med-shasta;
    background-color: $white;
    border-color: $dark-gray;
  }

  &.ghost.grey {
    color: $dark-gray;
  }

  .loading-container {
    background: none;

    .loading-dot {
      background-color: $white;
    }
  }


  &.full-width {
    width: 100%;
    text-align: center;
  }

  &.full-width-mobile {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  &.social {
    color: $black;
    background-color: $white;
    border-color: $dark-gray;

    span {
      display: inline-block;
      line-height: 18px;
    }

    &.facebook,
    &.google,
    &.apple,
    &.twitter {
      &:before {
        content: '';
        font-family: $font-awesome-brands;
        display: inline-block;
        margin-right: 10px;
      }
    }

    &.facebook {
      &:before {
        content: '\f39e';
        color: #3b5998;
      }
    }

    &.google {
      &:before {
        content: '\f1a0';
        color: #b82000;
      }
    }

    &.apple {
      &:before {
        content: '\f179';
        color: #000;
      }
    }

    &.twitter {
      &:before {
        content: '\f099';
        color: #00aae5;
      }
    }
  }

  .spinner {
    background: none;
  }

  &.show-spinner {
    > span:not(.spinner) {
      opacity: 0;
    }

    > .spinner {
      display: block;
    }
  }

  &.disabled,
  &:disabled,
  &.inactive {
    cursor: default;
    pointer-events: none;
    background-color: $light-gray;
  }
}

//mobile application buttons - google & apple
.lh-35 {
  height: 35px;
}
//mobile application google width
.mg-width {
  width: 114px;
}
//mobile application applewidth
.ma-width {
  width: 118px;
}
