button,
a.button {
  display: inline-block;
  font: 600 14px $ff-sans;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: .6em 1em .3em;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: flex-start;
  background-color: inherit;

  &.disabled,
  &:disabled,
  &.inactive {
    cursor: default;
    pointer-events: none;
    opacity: 0.9;
  }

  &.impact {
    background-color: $dark-gray;
    color: $white;
  }

  &.promo {
    background-color: $med-shasta;
    color: $white;
  }

  &.ghost {
    color: $med-shasta;
    background-color: $white;
    border-color: $dark-gray;
  }

  &.ghost.grey {
    color: $dark-gray;
  }

  .loading-container {
    background: none;

    .loading-dot {
      background-color: $white;
    }
  }
}