.card {
  margin: 0 0 30px;
  padding: 30px 15px;
  box-shadow: $small-shadow;
  background: $white;
  word-wrap: break-word !important;
  .title {
    line-height: 20px;
  }

  &.impact {
    background-color: $dark-gray;
    * {
      color: $white;
      fill: $white;
      border-color: $white;
    }
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.mobile-full-width {
    @include media-breakpoint-down(xs) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &.swg-card {
    h1 {
      font-weight: 400;
    }
    p.small {
      font-size: 13px;
      line-height: 17px;
    }
    a {
      font-weight: 400;
    }
  }
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .h-lg-100 {
    height: 100%;
  }
}
