.card {
  margin: 0 0 30px;
  padding: 30px 15px;
  box-shadow: $small-shadow;
  background: $white;

  &.impact {
    background-color: $dark-gray;
    * {
      color: $white;
      fill: $white;
      border-color: $white;
    }
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.mobile-full-width {
    @include media-breakpoint-down(xs) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}