.form-control {
    height: $input-height;
    width: 100%;
    border: 1px solid $light-gray;
    background: $white;
    border-radius: $bd-radius-sm;
    box-shadow: none;
    font-size: 1em;
    color: $black;

    &:focus,
    &.focus {
        border: 1px solid $light-gray;
        box-shadow: $med-shadow;
    }

    &.is-invalid {
        background: none;
        padding: 0.375rem 0.75rem;
        border-color: $red;

        &:focus,
        &.focus {
            box-shadow: $red-shadow;
        }
    }
}

.form-group {
    position: relative;

    label {
        font-family: $ff-sans;
        font-size: $fz-body;
        line-height: 1.5;
        font-weight: 600;
        color: $black;
        margin-bottom: 10px;
    }

    .elnuevoherald-label-min-height {
        min-height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.form-text {
    font-size: 0.785em;
    color: $med-gray;
}

.invalid-feedback {
    @extend .form-text;
    color: $red;
}

// Fallback for Bootstrap 3 validator
.has-error {
    .invalid-feedback {
        display: block;
    }
    input {
        border-color: $red;
        &:focus,
        &.focus {
            border-color: $red;
            box-shadow: $red-shadow;
        }
    }
}

.password-switch {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;

    &:after {
        content:'\f070';
        font-family: $font-awesome;
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: right;
        color: $black;
    }

    &.visible {
        &:after {
            content: '\f06e';
        }
    }
}

.cc-input {
    padding-right: 60px;
    letter-spacing: 1px;
}

.cc-type {
    position: absolute;
    height: $input-height - 20px;
    bottom: 10px;
    right: 0;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.visa {
        background-image: url(/img/cc-visa.png);
    }

    &.mastercard {
        background-image: url(/img/cc-mastercard.png);
    }

    &.maestro {
        background-image: url(/img/cc-maestro.png);
    }

    &.amex {
        background-image: url(/img/cc-amex.png);
    }

    &.discover {
        background-image: url(/img/cc-discover.png);
    }
}

.cc-icon:before {
    font-family: $font-awesome-brands;
    font-weight: 400;
    font-size: 16px;
}

.cc-visa:before {
   color: #1A1F71;
   content: "\f1f0";
}

.cc-mastercard:before {
    content: "\f1f1";
}

.cc-amex:before {
    content: "\f1f3";
}

.cc-discover:before {
    content: "\f1f2";
}

// Custom Bootstrap checkboxes and radios
.custom-control {
    input[type="checkbox"],
    input[type="radio"] {
        &:focus {
            & + .custom-control-label {
                &:before {
                    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
                    border-color: $black;
                }
            }
        }
    }
}

.custom-control-label {
    padding-top: 3px; // Fix the font line

    &:before {
        border: 1px solid $black;
    }

    &:after {
        background-size: 10px 10px;
    }
}

.custom-checkbox {
    .custom-control-label {
        &:before {
            border-radius: 0;
        }
    }
}

.custom-radio {
    .custom-control-label {
        padding-top: 2px;

        &:before,
        &:after {
            height: 14px;
            width: 14px;
        }

        &:after {
            background-size: 6px 6px;
        }
    }
}

.custom-control-input {
    &:checked {
        & ~ .custom-control-label {
            &:before {
                background: $black;
                border-color: $black;
            }
        }
    }

    &:not(:disabled) {
        &:active {
            & ~ .custom-control-label {
                &:before {
                    background: rgba(0, 0, 0, 0.25);
                    border-color: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

