.stg-modal {
  &-backdrop {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #fff;
  }

  &-content {
    position: absolute;
    z-index: 10001;
    top: 40px;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #343434;
    color: #fff;
    padding: 25px;
    box-shadow: 0px -4px 15px 2px #868686;

    @media (max-width: 720px) {
        max-width: 100%;
        top: auto;
        bottom: 0;
    }

    &-title {
      h3 {
        color: #fff;
      }
    }

    &-description {
      margin-bottom: 30px;

      a {
        color: #fff;
        text-decoration: underline;
        font-weight: normal;
      }
    }

    &-buttons {
      button+button {
        margin-top: 10px;
      }

      button.text {
        color: #fff;
      }
    }
  }
}
