.more-link {
  color: $light-gray;
  font-family: $ff-sans;
  font-size: $fz-more-link;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;

  &:after {
    content: "\f30b";
    font-family: $font-awesome;
    line-height: normal;
    font-size: 16px;
    margin-left: 4px;
    transition: transform .6s ease;
    vertical-align: middle;
  }

  &:hover {
    text-decoration: none;
    color: $med-shasta;

    &:after {
      transform: translateX(4px);
    }
  }

  &.blue {
    color: $med-shasta;
  }

  &.color-arrow {
    &:after {
      color: $med-shasta;
    }
  }

  &.white {
    color: $white;
  }

  &.ttn {
    text-transform: none;
  }
}
