.more-link {
  color: $med-gray;
  font-family: $ff-sans;
  font-size: $fz-more-link;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  //center arrow when not uppercase
  &.ttn:after{
    position: relative;
    top: 2px;
  }

  &:after {
    content: "\f30b";
    font-family: $font-awesome;
    line-height: normal;
    font-size: 16px;
    margin-left: 4px;
    transition: transform .6s ease;
  }

  &:hover {
    text-decoration: none;
    color: $med-shasta;

    &:after {
      transform: translateX(4px);
    }
  }

  &.blue {
    color: $med-shasta;
  }

  &.color-arrow {
    &:after {
      color: $med-shasta;
    }
  }

  &.white {
    color: $white;
  }
  &.black {
    color: $black;
  }

  &.ttn {
    text-transform: none;
  }
}
