/* The container must be positioned relative: */
.stg-select {
  position: relative;
  font-family: $ff-sans;

  select {
    display: none; /*hide original SELECT element: */
  }
}

.select-selected {
  position: relative;
  height: $input-height;
  width: 100%;
  border: 1px solid $light-gray;
  background: $white;
  border-radius: 2px;
  box-shadow: none;
  padding: 0.5em 0.75em;
  font-family: $ff-sans;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  cursor: pointer;
  color: $black;

  &:after {
    content:'';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $black transparent transparent transparent;
  }

  &.select-arrow-active {
    &:after {
      border-color: transparent transparent $black transparent;
      margin-top: -10px;
    }
  }
}

.select-items {
  position: absolute;
  top: calc(100% - 40px);
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $bd-radius-sm;
  box-shadow: $med-shadow;
  padding-top: 10px;
  padding-bottom: 10px;

  &.top {
      top: auto;
      bottom: 0;
  }

  div {
    color: $med-gray;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,.05);
    }
  }

  .same-as-selected {
    background: rgba(0,0,0,.05);
    font-weight: 600;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}