/* The container must be positioned relative: */
.stg-select {
    position: relative;
}

.stg-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    height: 40px;
    width: 100%;
    border: 1px solid $light-gray;
    background: $white;
    border-radius: 2px;
    box-shadow: none;
    padding: 0.5em 0.75em;
    font-size: 1em;
    line-height: 1.5;
    cursor: pointer;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div {
  color: $med-gray;
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $bd-radius-sm;
  box-shadow: $med-shadow;

  &.top {
      top: auto;
      bottom: 0;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover {
  background: rgba(0,0,0,.1);
}

.same-as-selected {
  color: $med-shasta;
  font-weight: 600;
}