@import "./core/variables";

// Core
@import "./core/base";

// Components
@import "./components/app-sidebar";
@import "./components/app-header";
@import "./components/menu-toggle";
@import "./components/shortcut";
@import "./components/prop";
@import "./components/color";
@import "./components/animations";

// Modifiers/Utilities
@import "./core/utilities";

.stg-design {
    font-size: 14px;
    font-family: "McClatchy Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;

    @import "./stg-design/stg-design";
}
