summary,
.summary {
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
  &.enhanced {
    font-weight: 600;
  }
}

.small {
  font: 400 11px/1.5em "McClatchy Sans", sans-serif;
}

.caps {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.sans {
  font-family: $ff-sans;
}

.serif {
  font-family: $ff-serif;
}

.soft {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.text-capitalize-first {
  // can be used only on <p> element
  &::first-letter {
    text-transform: uppercase;
  }
}

.no-shadow {
  box-shadow: none;
}

.small-shadow {
  box-shadow: $small-shadow;
}

.medium-shadow {
  box-shadow: $med-shadow;
}

.big-shadow {
  box-shadow: $big-shadow;
}

.header-shadow {
  box-shadow: $header-shadow;
}

.relative {
  position: relative;
}

.hidden,
[hidden] {
  display: none;
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important
  }
}

// Generate spacing utilities
$spaces: 0 5 10 15 20 25 30 35 40 45 50 60 70 80 90 100;
$sides: ("t": "top", "r": "right", "b": "bottom", "l": "left");
$breakpoints: "sm" "md" "lg" "xl";

@each $space in $spaces {

  .m-#{$space} {
    margin: #{$space}px !important;
  }

  @each $sideAbr, $sideName in $sides {
    .m#{$sideAbr}-#{$space} {
      margin-#{$sideName}: #{$space}px !important;
    }
  }

  @each $sideAbr, $sideName in $sides {
    @each $breakpoint in $breakpoints {
      .m#{$sideAbr}-#{$breakpoint}-#{$space} {
        @include media-breakpoint-up(#{$breakpoint}) {
          margin-#{$sideName}: #{$space}px !important;
        }
      }
    }
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }

  @each $sideAbr, $sideName in $sides {
    .p#{$sideAbr}-#{$space} {
      padding-#{$sideName}: #{$space}px !important;
    }
  }

  @each $sideAbr, $sideName in $sides {
    @each $breakpoint in $breakpoints {
      .p#{$sideAbr}-#{$breakpoint}-#{$space} {
        @include media-breakpoint-up(#{$breakpoint}) {
          padding-#{$sideName}: #{$space}px !important;
        }
      }
    }
  }
}

// Negative margins
@media (max-width: 479px) {
  .nm-xs {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

@media (max-width: 767px) {
  .nm-sm {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

@media (max-width: 991px) {
  .nm-md {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

//list of errors
.list-unstyled {
  margin: 0 !important;
}
