html,
body {
    position: relative;
	min-height: 100vh;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	font-family: $ff-body;
}

a {
	color: $primary-color;
	transition: color .2s ease-in-out;
  	text-decoration: none;

  	&:hover {
  		color: darken($primary-color, 10);
    	text-decoration: none;
  	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff-headings;
	font-weight: 600;
	color: $black;
	margin-bottom: .5em;

	&.thin {
		font-weight: 300;
	}

	&.light {
		color: #fff;
	}
}

h1 {
	font-size: calc(#{$font-h-1} * 1/2);

	@media (min-width: 992px) {
		font-size: $font-h-1;
	}
}

h2 {
	font-size: calc(#{$font-h-2} * 3/5);

	@media (min-width: 992px) {
		font-size: $font-h-2;
	}
}

h3 {
	font-size: calc(#{$font-h-3} * 3/4);

	@media (min-width: 992px) {
		font-size: $font-h-3;
	}
}

h4 {
	font-size: $font-h-4;
}

h5 {
	font-size: $font-h-5;
}

h6 {
	font-size: $font-h-6;
}

.page-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.page-inner {
	position: relative;
	width: 100%;
}

#app-container {
	height: calc(100% - 80px);
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	z-index: -1;
}

.page-section {
	margin-bottom: 40px;
}

.demo-container {
	margin-bottom: 20px;
}

.narrow-page {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.docs {
	margin-top: 30px;
	font-size: 14px;

	h4 {
		font-size: 16px;
	}
}