:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f5f5;
}

.el-submenu {
    .el-menu-item {
        height: 34px;
        line-height: 34px;
    }
}

.el-menu-item:focus,
.el-menu-item:hover,
.el-submenu__title:hover,
.el-menu-item.is-active {
    background-color: #e3f5f6;
}

.el-submenu__title,
.el-menu-item {
    img {
        margin-right: 8px;
    }
}

.prism-editor-wrapper,
.prism-editor__line-numbers {
    font-size: 13px !important;
}

.prism-editor__line-numbers {
    padding-bottom: 1em;
}