.color-card {
    margin-bottom: 20px;
}

.color-swatch {
    padding: 20px 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;

    span {
        display: block;
        font-size: 14px;
        opacity: 0.7;
    }

    &.invert {
        color: #222;
    }
}