.prop {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid $light-gray;

    &:first-of-type {
        border-top: 1px solid $light-gray;
    }
    
    span {
        line-height: 21px;
    }

    .prop-type {
        font-style: italic;
        color: #aaa;
        margin-right: 10px;
    }
}