.primary-headline {
    font-family: $ff-serif;
    font-size: 30px;
    line-height: 36px;

    &.niche {
        font-size: 24px;
        line-height: 30px;
    }

    &.enhanced {
        font-size: 40px;
        line-height: 52px;

        @media (min-width: 576px) {
            font-size: 52px;
            line-height: 78px;
        }
    }
}

.secondary-headline {
    font-family: $ff-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    &.niche {
        font-size: 19px;
        line-height: 28px;
    }

    &.enhanced {
        font-size: 28px;
        line-height: 32px;
    }
}

.niche {
    font-family: $ff-sans;
    font-weight: 600;
}

.page-headline {
    margin-top: 15px;
    margin-bottom: 15px;

    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .narrow {
        max-width: 640px;
    }

    .section-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
            font-size: 24px;
            line-height: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.registration-secondary {
    padding-top: 50px;
}

.page-heading {
    font-size: 14px;
    margin-bottom: 0;
    a {
        font-size: 14px;
    }

    @media (min-width: 992px) {
        font-size: 19px;
        a {
            font-size: 19px;
        }
    }
}