.byline {
  font-family: $ff-sans;
  color: $light-gray;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.786em;
}
//this is from a fix on MPP-3280 @*12
@media only screen and (max-width: 375px) {

  .step {
    & > li {
      font-size: 10px !important;
    }
  }
  .ip5 {
    & > label, p, a {
      font-size: 12px !important;
      .more-link::after {
        vertical-align: sub
      }
    }
  }
  label.control-label {
    font-size: 12px;
  }
}
.subscriber-only-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto 15px;
}