/* Text Color */
.black {
    color: $black;
}
.dark-gray {
    color: $dark-gray;
}
.med-gray {
    color: $med-gray;
}
.light-gray {
    color: $light-gray;
}
.dark-shasta {
    color: $dark-shasta;
}
.med-shasta {
    color: $med-shasta;
}
.light-shasta {
    color: $light-shasta;
}
.red {
    color: $red;
}
.pearl {
    color: $pearl;
}

/* Background Color */
.bg-black {
    background: $black;
}
.bg-dark-gray {
    background: $dark-gray;
}
.bg-med-gray {
    background: $med-gray;
}
.bg-light-gray {
    background: $light-gray;
}
.bg-dark-shasta {
    background: $dark-shasta;
}
.bg-med-shasta {
    background: $med-shasta;
}
.bg-light-shasta {
    background: $light-shasta;
}
.bg-red {
    background: $red;
}
.bg-pearl {
    background: $pearl;
}