.black {
    background: $black;
}
.dark-gray {
    background: $dark-gray;
}
.med-gray {
    background: $med-gray;
}
.light-gray {
    background: $light-gray;
}
.dark-shasta {
    background: $dark-shasta;
}
.med-shasta {
    background: $med-shasta;
}
.light-shasta {
    background: $light-shasta;
}
.red {
    background: $red;
}