// Colors
$white: #fff;
$black: #222;
$dark-gray: #373737;
$med-gray: #707070;
$light-gray: #989898;
$dark-shasta: #1B417F;
$med-shasta: #31409f;
$light-shasta: #5169B8;
$red: #D63031;

// Typography
$ff-serif: "McClatchy Serif", Georgia, Times, "Times New Roman", serif;
$ff-sans: "McClatchy Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

$fz-body: 14px;
$fz-heading-page: 19px;
$fz-more-link: $fz-body;

// Shadows
$small-shadow: 0 1px 2px 0 rgba($black,0.2), 0 1px 5px 0 rgba($black,0.13);
$med-shadow: 0 0 4px 2px rgba(152,152,152,0.75);
$big-shadow: 0 8px 17px 0 rgba($black,0.2), 0 6px 20px 0 rgba($black,0.19);
$red-shadow: 0 0 4px 2px rgba(214,48,49,0.75);

// Forms
$input-height: 40px;

// Misc
$bd-radius-sm: 2px;
