$fontsPath: '../../static/fonts';

@font-face{
    font-family:"Roboto";
    src: local('Roboto'),
         local('Roboto-Regular'),
         url("#{$fontsPath}/roboto/Roboto-Regular.woff2") format("woff2"),
         url("#{$fontsPath}/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:"Roboto";
    src: local('Roboto Bold'),
         local('Roboto-Bold'),
         url("#{$fontsPath}/roboto/Roboto-Bold.woff2") format("woff2"),
         url("#{$fontsPath}/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*********** McClatchy Sans ***********/
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-black.woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-bold.woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-semi.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-regular.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-light.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans";
    src: url('./fonts/mcclatchy-sans-thin.woff');
    font-weight: 200;
    font-style: normal;
}

/************ McClatchy Sans Condensed **************/
@font-face {
    font-family: "McClatchy Sans Cond";
    src: url('./fonts/mcclatchy-sans-cond-bold.woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans Cond";
    src: url('./fonts/mcclatchy-sans-cond-demi.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans Cond";
    src: url('./fonts/mcclatchy-sans-cond-medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Sans Cond";
    src: url('./fonts/mcclatchy-sans-cond-regular.woff');
    font-weight: 400;
    font-style: normal;
}

/************ McClatchy Serif **************/
@font-face {
    font-family: "McClatchy Serif";
    src: url('./fonts/mcclatchy-serif-bold.woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Serif";
    src: url('./fonts/mcclatchy-serif-semi.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Serif";
    src: url('./fonts/mcclatchy-serif-medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Serif";
    src: url('./fonts/mcclatchy-serif-regular.woff');
    font-weight: 400;
    font-style: normal;
}

/***************** McClatchy Slab **************/
@font-face {
    font-family: "McClatchy Slab";
    src: url('./fonts/mcclatchy-slab-bold.woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Slab";
    src: url('./fonts/mcclatchy-slab-demi.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Slab";
    src: url('./fonts/mcclatchy-slab-medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Slab";
    src: url('./fonts/mcclatchy-slab-regular.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "McClatchy Slab";
    src: url('./fonts/mcclatchy-slab-light.woff');
    font-weight: 300;
    font-style: normal;
}
