// Colors
$primary-color: #ef781d;

// Typography
$ff-body: 'McClatchy Sans', Helvetica, Arial, sans-serif;
$ff-headings: 'Catamaran', Helvetica, Arial, sans-serif;
$fz-body: 16px;
$font-button-text: $font-body-text * 0.857; // 12px
$font-h-1: $font-body-text * 5.125;			// 82px
$font-h-2: $font-body-text * 2.25;			// 48px
$font-h-3: $font-body-text * 2.25;			// 36px
$font-h-4: $font-body-text * 1.4375;		// 23px
$font-h-5: $font-body-text * 1.25;			// 20px
$font-h-6: $font-body-text;					// 16px