// Colors
$primary-color: #04816A;
$white: #fff;
$black: #000;
$dark-green: #3A4F5D;
$light-gray: #E6E6E6;

// Typography
$ff-body: 'Lato', sans-serif;
$ff-headings: 'McClatchy Sans', Helvetica, Arial, sans-serif;
$fz-body: 16px;
$font-button-text: $fz-body * 0.857;    // 12px
$font-h-1: $fz-body * 5.125;			// 82px
$font-h-2: $fz-body * 2.25;			    // 48px
$font-h-3: $fz-body * 2.25;			    // 36px
$font-h-4: $fz-body * 1.4375;		    // 23px
$font-h-5: $fz-body * 1.25;			    // 20px
$font-h-6: $fz-body;					// 16px